
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.notes-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #e5e7eb; 
  margin: 10px;
  border: 1px solid;
  border-color: #e5e7eb; ;
  border-radius: 5px;
}

.note-text{
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #e5e7eb; 
  border: 1px solid;
  border-radius: 5px;
}

.note-new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #e5e7eb; 
  margin: 10px;
}
.add-note-textarea {
  padding: 10px;
  height: 150px;
  width:250px;
  margin-top: 20px;
} 
.add-note-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  margin-bottom: 30px;
}

.save{
  margin-left: 100px;
  padding: 3px;
  border-radius: 2px;
}

.note-textarea, .note-footer, .date, .note-delete-button, .del-button, .add-note-footer, .save, .add-note-textarea{
  background-color: #e5e7eb;
}

.del-button {
  border: none;
}
.note-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
}
.note-delete-button {
  margin-left: 200px;
}
.the-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}