  .input-container {
    display: flex;
    align-items: center;
    margin: 3px;
  }
  
  .input-box {
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #e5e7eb;
    width: 202.918px;
  }
  
  .submit-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: oklch(25.3267% 0.015896 252.417568 /1);
    margin-left: 30px;

  }
  
  .list-container {
    margin-top: 20px;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    width: 257.909px;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #292b2f;
    margin-bottom: 10px;
    border:white solid 2px ;
    border-radius: 4px;
    color: #e5e7eb
  }
  
  .task-delete-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #292b2f;
  }