  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 3px;
  }
  
  .input-box {
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #e5e7eb;
    width: 202.918px;
  }

  .category-selector{

    margin-left: 10px;
    background-color: #202225;
    color: #e5e7eb;
    text-align: center;
    border: none;
    border-color: #e5e7eb;
  }

  
  .submit-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #202225;
    margin-left: 30px;

  }
  
  .list-container {
    margin-top: 20px;
  }
  .task-list{
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .list {
    list-style-type: none;
    padding: 0;
    width: 257.909px;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #292b2f;
    margin-bottom: 10px;
    border:white solid 2px ;
    border-radius: 4px;
    color: #e5e7eb;
  }
  
  .task-delete-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #292b2f;
  }

  .hidden {
    display: none;
  }

  #category-button {
    padding: 3px;
    margin: 10px;
    background-color: #292b2f;
    color: #e5e7eb;
    width: 120px;
    border: 1px solid;
    border-radius: 5px;
  }

  .category-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }