*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: oklch(25.3267% 0.015896 252.417568 /1);

}
.main-components {
    height: 100vh; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }